h1 {
    color: rgb(99, 99, 192);
    text-align: center;
  }

  .square {
    background-color: black;
    border-radius: 10%; 
    display:inline-block;
    height: 50px;
    width: 50px;
  }

  .element{
    color:azure;
    text-align: center;
    border-style:groove;
    margin:0%;
    height: 50px;
    width: 50px;
  }

  .row{
    display: block;
  }

  

  

 
